html,
body {
  width: 100%;
  height: 100%;
}

html * {
  margin: 0;
  padding: 0;
}

.advanced-search {
  width: 600px;
}

#events-container {
  position: relative;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 10px;
  grid-auto-rows: minmax(300px, auto);
}

#events-container > div {
  border: 2px solid #ebe719;
  border-radius: 15px;
  padding: 1em;
}

#events-container > div > button {
  width: 100%;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
}

.doodle-times {
  display: flex;
  flex-direction: column;
}

.doodle-times > button {
  margin: auto;
  width: 35vw;
  margin-bottom: 1px;
}

#is-public {
  width: auto;
}

.accepted-event {
  background-color: #007bff !important;
  border: 1px solid #007bff !important;
}

.see-you-event {
  background-color: #28a745 !important;
  border: 1px solid#28a745 !important;
}

.transparent-event {
  background-color: transparent !important;
  border: 1px solid #007bff !important;
}

.transparent-event > .fc-event-main > .fc-event-main-frame {
  color: #007bff;
}

.no-time-set-event {
  background-color: transparent !important;
  border: 1px solid#dc3545 !important;
}

.no-time-set-event > .fc-event-main > .fc-event-main-frame {
  color: #dc3545;
}

.fc-event-title {
  overflow: auto;
}

#search-bar {
  left: 30%;
  margin-bottom: 50px;
  margin-right: -50%;
  position: relative;
  width: 800px;
}

#wrapper {
  padding-left: 0;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled {
  padding-right: 150px;
}

#sidebar-wrapper {
  z-index: 100;
  position: fixed;
  right: 150px;
  top: 0;
  width: 0;
  height: 100%;
  margin-right: -150px;
  overflow-y: auto;
  background:lightblue;
  -webkit-transition: all 0.5s ease;
  -moz-transition: all 0.5s ease;
  -o-transition: all 0.5s ease;
  transition: all 0.5s ease;
}

#wrapper.toggled #sidebar-wrapper {
  width: 150px;
}

#page-content-wrapper {
  float:left;
  width: 100%;
  position: absolute;
  padding: 15px;
}

#wrapper.toggled #page-content-wrapper {
  position: absolute;
  margin-right: -150px;
}

.sidebar-nav {
  position: absolute;
  top: 0;
  width: 150px;
  margin: 0;
  padding: 0;
  list-style: none;
}

.sidebar-nav li {
  text-indent: 20px;
  line-height: 40px;
}

.sidebar-nav li a {
  display: block;
  text-decoration: none;
  color: #999999;
}

.sidebar-nav li a:hover {
  text-decoration: none;
  color: #fff;
  background: rgba(255,255,255,0.2);
}

.sidebar-nav li a:active,
.sidebar-nav li a:focus {
  text-decoration: none;
}

.sidebar-nav > .sidebar-brand {
  height: 65px;
  font-size: 18px;
  line-height: 60px;
  display: flex; 
  justify-content: center;
}

.sidebar-nav > .sidebar-brand a {
  color: #999999;
}

.sidebar-nav > .sidebar-brand a:hover {
  color: #fff;
  background: none;
}

@media(min-width:768px) {
  #wrapper {
      padding-right: 150px;
  }

  #wrapper.toggled {
      padding-right: 0;
  }

  #page-content-wrapper {
      padding: 20px;
      position: relative;
  }

  #wrapper.toggled #page-content-wrapper {
      position: relative;
      margin-right: 0;
  }
}

/* Style inputs */
input, textarea, select {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

/* Style the submit button */
input[type=submit] {
  width: 100%;
  background-color: blue;
  color: white;
  padding: 14px 20px;
  margin: 8px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

/* Add a background color to the submit button on mouse-over */
input[type=submit]:hover {
  background-color: darkblue;
}

#calendar {
  max-height: 85vh;
  max-width: 100vw;
}

.popover {
  width: 30vw;
  min-width: 448px;
  height: auto;
  max-width: 30vw;
  max-height: 70vh;
  display: flex;
  flex-direction: column;
}

.popover-body {
  height: 100%;
  overflow-y: scroll;
}

.event-wrapper {
  height: 100%;
  display: flex;
  flex-direction: column;
  overflow-y: auto;
}

.add-button {
  display: flex;
  justify-content: flex-end;
  margin-top: auto;
}

.right-item {
  max-height: 100%;
  overflow-y: scroll;
  margin-top: 7px;
}

.right-item > ul {
  margin-left: 30px;
}

.description-wrapper {
  max-height: 40%;
  display: flex;
  flex-direction: row;
}

.extendedprop-wrapper {
  display: flex;
  flex-direction: row;
  height: auto;
}

.left-item {
  margin-top: 5px;
  padding-right: 5px;
  width: auto !important;
  font-weight: bold;
  font-size: 1.2em;
}

input[type=checkbox] {
  width: auto;
  height: auto;
}

#user-wrapper {
  display: flex;
  flex-direction: column;
}

#user-header {
  display: flex;
  justify-content: center;
  font-size: 2.5rem;
  padding-bottom: 10vh;
}

#username-setter input {
  display: flex;
  justify-content: center;
  width: 50vw;
}

#user-wrapper div {
  display: flex;
  justify-content: center;
  margin: auto;
}

#user-wrapper button {
  width: 50vw;
  margin: auto;
  display: flex;
  justify-content: center;
}

#user-wrapper a {
  padding-left: 3px;
}

.popover-header {
  text-align: center;
  color: white;
}

.popover-body {
  max-height: 65vh;
  height: auto;
  overflow-y: scroll;
}

.popover-body li {
  margin: auto;
  font-size: 2rem;
}

.popover-body ul {
  display: flex;
  flex-direction: column;
}

#title-wrapper {
  margin-bottom: 20px;
}
#description-info {
  margin: 10px 0;
}

.invited {
  color:  #e7e7e7;
}
.declined {
  color: red;
}

ul {
  list-style-type: none;
  padding: 0;
  margin: 0;
}

#tags-info li, #event-tags li, #event-custom-tags li {
  background-color: #e7e7e7;
  display: inline-block;
  text-align: center;
  min-width: 50px;
  border-radius: 30%;
  margin-right: 5px;
}

#event-info, #weather-info {
  display: inline-block;
}

#weather-info {
  background: lightyellow;
  border: 2px solid #ebe719;
  border-radius: 15px;
  padding: 1em;
  margin: 0 50px;
}

svg {
  margin: 0 5px;
}

.event-wrapper {
  margin: 0 20em;
}

.text-button {
  display: flex;
  justify-content: space-between;
}

.text-button input[type="button"] {
  flex-shrink: 10;
}
